*{
    margin: 0;
    padding: 0;
}


/* Styling the header box. */
header.mode {
    /* padding the element */
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 25px;

    /* placing the element */
    display: flex;
    justify-content: space-between;

    /* Giving the colour to the text and background. */
    background-color: #218380;  /* the background colour */
    color: #ffffff; /* The colour of text */
}

header {
    font-family: Verdana;
    font-size: 24px;
    font-style: normal;
}


div.viewHighscores {

} 

div.countdown {
    display: flex;

}


/* Styling the main tag  */
main.mainpage {
    display: flex;
    justify-content: center;
    align-items: center;
}